<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Empresas</h1>
    <button type="button" class="btn btn-primary">Adicionar Empresa</button>
  </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Empresas</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Razão Social</th>
              <th>Website</th>
              <th>Documentos</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Salsame</th>
              <th>Position</th>
              <th>office.com</th>
              <th></th>
              <th></th>
            </tr>
          </tfoot>
          <tbody>
            <tr *ngFor="let c of empresas">
              <td>{{c.nome}}</td>
              <td>{{c.razao}}</td>
              <td>{{c.webSite}}</td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div>
    <form method="POST" #frmEmp="ngForm" (ngSubmit)="criarEmpresa(frmEmp)">
      <p>Nome: <input type="text" id="nome" name="nome" [(ngModel)]="empresa.nome" required></p>
      <p>Razão: <input type="text" id="razao" name="razao" [(ngModel)]="empresa.razao" required></p>
      <p>Site: <input type="text" id="web" name="web" [(ngModel)]="empresa.webSite" required></p>

      <button type="submit" [disabled]="frmEmp.invalid">Salvar</button>
    </form>

  </div>
  <div>
    <form #frmdel="ngForm" (ngSubmit)="deletar(frmdel)">
      <p>Numero da empresa: <input type="number" id="id" name="id" [(ngModel)]="empresa.id" required></p>
      <button type="submit" [disabled]="frmdel.invalid">enviar</button>
    </form>

  </div>

</div>