<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Contatos</h1>
        <button type="button" class="btn btn-primary">Adicionar Contato</button>
    </div>
 
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Contatos</h6>        
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Posição</th>
                <th>Empresa</th>
                <th>Email</th>
                <th>Telefones</th>
                <th>Categoria</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>John Stuart</th>
                <th>Gerente</th>
                <th>Taurus</th>
                <th>john@office.com</th>                
                <th>(41) 3456-7890</th>
                <th>Cliente</th>
                <th></th>
              </tr>
            </tfoot>
            <tbody>
              <tr>
                <td>Alex Nixon</td>
                <td>Gerente</td>
                <td>Limpus</td>
                <td>alex@edinburgh.com</td>
                <td>(11) 3282-9320</td>
                <td>Fornecedor</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  