<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Produtos</h1>
        <button type="button" class="btn btn-primary">Adicionar produto</button>
    </div>
 
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Produtos</h6>        
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Status</th>
                <th>Código</th>
                <th>Preço</th>
                <th>Em Estoque</th>
                <th>Categoria</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Notebook Bell 4579</th>
                <th>Disponível</th>
                <th>NB-001</th>
                <th> R$2.000,00</th>                
                <th>0,00</th>
                <th>Equipamento - Notebook</th>
                <th></th>
              </tr>
            </tfoot>
            <tbody>
              <tr>
                <td>Notebook Bell 4579</td>
                <td>Disponível</td>
                <td>NB-006</td>
                <td>R$4.000,00</td>
                <td>0,00</td>
                <td>Equipamento - Notebook</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  